.root{
    -fx-background-color: #F5F5F5;
    -fx-font-family: "Roboto";
    -fx-font-size: 1.3em;
}

#header{
    -fx-text-fill: #212121;
    -fx-font-size: 32;
}

.text-field{
    -fx-text-fill: #212121;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.scroll-bar .thumb{
    -fx-background-radius: 5px;
}

.list-view .list-cell{
    -fx-background-color: #F5F5F5;
    -fx-border-width: 0.1;
    -fx-border-color: #9E9E9E;
}

.list-view .list-cell:selected{
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #212121; 
}

.button{
    -fx-text-fill: #212121;
    -fx-background-radius: 5px;
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: #E0E0E0;
}
