.root{
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
}

#choice{
    -fx-font-size: 20px;
}

#scoreLbl{
     -fx-font-size: 40px;   
}

.button{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

